<%- include("partials/header")  -%>
<h1>Student Details</h1>
<p> <%= startingContent %> </p>

<%  student.forEach(function(student){ %>

  <h3><%=student.name%></h3>
  <p>
    <%=student.class%>
  </p>
  <p>
  <%=student.address.substring(0, 100) + " ..."%>
  <a href="/students/<%=student._id%>">Read More</a>
  </p>
 <!-- <table>
    <tr>
      <th> Name </th>
      <th> Class</th>
    </tr>
    <tr>
      <td><%=student.name%></td>
      <td><%=student.class%></td>
    </tr>
  </table> -->

  <% }) %>
  <form action="/create" class="inline">
    <div style="float: right;"">
      <button class="btn btn-primary float-right submit-button" >CREATE</button>
    </div>

</form>

<%- include("partials/footer")  -%>
